:root{
    --primary-color: #606B56;
    --secondary-color: #515a48;
    
    --borderColor: #161914;

    --mainText-color: #fff;
    --secondaryText-color: #eeeeee;

    --buttonColor: #669966;
    --buttonHover-color: #2c812c;
}